<h1>You're in default components</h1>
<h1>API CALLING</h1>

<div class=container>
    <div class="row">

        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <h4 *ngFor="let item of apiData">
                <table class="table  table-bordered">


                    <tbody>
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                        </tr>
                </table>
            </h4>
        </div>
    </div>
</div>